<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Artyom/IdeaProjects/reqres-restassured/src/test/java/com/shilov/training/tests/Test.java">
        <classes>
            <class name="com.shilov.training.tests.Test"></class>
        </classes>
    </test>
</suite>